.navbar {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-spacer {
  height: 56px; 
}

.nav-link {
  color: #4a5568;
  font-weight: 500;
}

.nav-link:hover {
  color: #4169E1;
}

.btn-primary {
  background-color: #4169E1;
  border-color: #4169E1;
}

.btn-primary:hover {
  background-color: #3154b3;
  border-color: #3154b3;
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    padding: 1rem 0;
  }
  
  .d-flex {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #eee;
  }
}